;; Analyzed by ClojureScript 1.7.145
{:use-macros nil, :excludes #{}, :name om-tutorial.appstate, :imports nil, :requires nil, :uses nil, :defs {state {:name om-tutorial.appstate/state, :file "src/om_tutorial/appstate.cljs", :line 3, :column 1, :end-line 3, :end-column 15, :meta {:file "/home/j/clojure/om-next/src/om_tutorial/appstate.cljs", :line 3, :column 10, :end-line 3, :end-column 15}}}, :require-macros nil, :cljs.analyzer/constants {:seen #{:color :title :count}, :order [:count :title :color]}, :doc nil}